<p id="notice"><%= notice %></p>

<h1>Listing Todo</h1>

>
    <% @items.each do |item| %>
      <tr>
        <%= item.item %>
        
        <%= link_to 'Edit', edit_item_path(item) %>
        <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
      
    <% end %>
  


<br>

<%= link_to 'New Item', new_item_path %>
